/target
/data
/dlq
/data_test
/dlq_test
/spool
/spool_test
.advisory-db/
.advisory-db..lock
.DS_Store
*.log
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
